@model List<eCode.Models.eDesafios>
@{
    var cookieLogado = Context.Request.Cookies["Cliente"];
    var cookiePerfil = Context.Request.Cookies["Perfil"];
    var cookieId = Context.Request.Cookies["Codigo"];
    ViewData["Title"] = "Dashboard";
}

@if (cookieLogado != null)
{
    @if (TempData["Sucess"] != null)
    {
        <p class="alert-success">
            <span style="font-size: 1.2rem;">Sucesso!</span><br />
            <span class="text-dark">
                @TempData["Sucess"]
            </span>
            <br /><br />
        </p>
    }

    @if (cookiePerfil != null && string.Equals(cookiePerfil, "A"))
    {
        if (Model != null && Model.Count > 0)
        {
            <section class="container">
                <h1>Desafios</h1>

                <div class="container-dashboard">
                    @foreach (eDesafios item in Model)
                    {
                        <div class="card">
                            <div class="image-container">
                                <img src="~/Capas/@item.Foto" />
                            </div>
                            <div class="card-content">
                                <h2 class="titulo">@item.Titulo</h2>
                                <p class="date-time">@DateTime.Parse(item.DataHora).ToString(@"dd/MM/yyyy 'às' HH:mm")</p>
                                <div class="buttons">
                                    <button class="delete-button">Excluir</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        }
    }
    else
    {
        if (Model != null && Model.Count > 0)
        {
            <section class="container">
                <h1>Desafios concluídos</h1>

                <div class="container-dashboard">
                    @foreach (eDesafios item in Model)
                    {
                        <div class="card">
                            <div class="image-container">
                                <img src="~/Capas/@item.Foto" />
                            </div>
                            <div class="card-content">
                                <h2 class="titulo">@item.Titulo</h2>
                                <p class="date-time">@item.DataHoraEnviado.ToString(@"dd/MM/yyyy 'às' HH:mm")</p>
                                <p class="score">Pontuação: @item.Pontuacao pts</p>
                                <div class="buttons">
                                    <button class="delete-button">Excluir</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        }
    }
}