@model List<eCode.Models.eDesafios>

<h3 style="text-align: left;">
    Ultimos desafios:
</h3>

<div style="clear: both; height: 12px;"></div>

@if (Model != null && Model.Count > 0)
{
    <section class="container-cards">
        @foreach (eDesafios desafio in Model)
        {
            <a href="@desafio.Repositorio" title="@desafio.Titulo" class="cards-desafio" target="_blank">
                <div class="cards-item__img">
                    <img src="~/@string.Format("Capas/{0}", desafio.Foto)" title="@desafio.Titulo" alt="@desafio.Titulo" />
                </div>
                <div class="cards-item__info">
                    <h4>> @desafio.Titulo</h4>
                    <p>
                        @desafio.Descricao
                    </p>
                </div>
            </a>
        }
    </section>
}